@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway|Zilla+Slab&display=swap");

.h1text {
  margin-top: 50px;
  color: orangered;
  /* text-align: center; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 4%;
  margin-bottom: 15px;
  margin-top: 50px;
}

.skills {
  line-height: 2em;
  text-align: center;
  /* font-family: ''; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 1px;
  color: rgb(121, 11, 121);
  display: block;
  border: 5px solid green;
  margin-left: 500px;
  margin-right: 500px;
  /* margin-bottom: 3px; */
  /* padding-bottom: 6%; */
}