.icon {
  height: 500px;
  transition: 0.1s ease-in;
  color: brown;
  size: 100px;
}

.icons {
  display: block;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 13%;
  margin-top: 5%;
  /* width: 100px; */
  /* margin-right: auto; */
}
